.home-content {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.background-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.content-overlay {
    position: absolute; /* Cambiado de relative a absolute */
    inset: 0; /* Asegura que ocupe exactamente el mismo espacio que el video */
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--layout-background-overlay);
}